fastapi==0.135.1
uvicorn==0.41.0
requests==2.32.5
python-dotenv==1.2.2

langchain==1.2.10
langchain-community==0.4.1
langchain-google-genai==4.2.1
langchain-postgres==0.0.17
langchain-google-vertexai==3.2.2
google-generativeai==0.7.2

psycopg2-binary==2.9.11
pgvector==0.3.6

streamlit==1.55.0
tqdm==4.67.3

ragas==0.4.3
pandas==2.3.3
redis==5.2.1

